<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %> 

<main>
  <% if (profile.avatar) { %>
    <img src="<%= profile.avatar %>" alt="<%= profile.avatar %>'s avatar">
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>

    <% if (isSelf) { %>
      <h2>Add Your favorite Artist</h2>

      <form action="/profiles/<%= profile._id %>" method="POST">
        <label>Favorite Artist
          <select name="favArtist">
            <% artists.forEach(art => { %>
              <option value="<%= art.bandName %>">
                <%= art.bandName %>
              </option> 
          <% }) %>
          </select>
        </label>
        <button>Add Favorite Artist</button>
      </form>
    <% } %>

    <%= profile.favArtist[0].bandName %> 

</main>


<%- include("../partials/footer") %> 