<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %> 

<main>
  <% if (profile.avatar) { %>
    <img src="<%= profile.avatar %>" alt="<%= profile.avatar %>'s avatar">
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
    <% if (isSelf) { %>
      <h2>Add Your favorite Artist</h2>
    
        <ul>
          <%- profile.favArtist.map(fa => `<li>${fa.bandName}</li>`).join("") %> 
        </ul>

      <form action="/profiles/<%= profile._id %>/favartist" method="POST">
        <label>Favorite Artist
          <select>
            <%- profile.favArtist.map(art => `<option value="${art._id}">${art.bandName}</option>`).join("") %>
          </select>
        </label>
        <button>Add Favorite Artist</button>
      </form>
    <% } %>  

</main>


<%- include("../partials/footer") %> 