<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "Music Lover" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <h1>Profiles</h1>
    <div class="container">
      <% users.forEach(function(profile) { %>
        <% if (profile.avatar) { %>
          <img 
            src="<%= profile.avatar %>" 
            alt="<%= profile.name %> profile"
            class="img-fluid rounded-start"
          />
        <% }%>
    </div>
  <% }) %>
  <% } %> 
</main>

<%- include('./partials/footer') %>
