<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit Artist</h1>
  <form action="/artists/<%= artist._id %>?_method=PUT" method="POST">
    <label>
      Artist Name:
      <input 
        type="text"
        name="bandName" 
        value="<%= artist.bandName %>" 
      >
    </label>
    <button type="submit">Edit Artist</button>
  </form>
</section>

<%- include('../partials/footer') %>