<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<main>
  <h1>All Artists</h1>
  <% if(user) { %>
    <form action="/artists" method="POST">
        <input type="text" name="bandName" placeholder="Artist name">
      </label>
        <input type="text" name="genre" placeholder="Artist Genre">
      </label>
      <button type="submit">Add Artist</button>
    </form>
  <% } %>  
  <ul>
  <% artists.forEach(artist => { %>
    <li>
      <a href="/artists/<%= artist._id %>"><%= artist.bandName %></a> plays
      <%= artist.genre %> style music!
    </li>
  <% }) %>
  </ul>
</main>

<%- include("../partials/footer") %> 