<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<section>
  <h1>All the Artists</h1>
  <% if(user) { %>
    <form action="/artists" method="POST">
      <label for="bandName">Artist Name:
        <input type="text" name="bandName" placeholder="Artist name">
      </label>
      <label for="genre"> Genre:
        <input type="text" name="genre" placeholder="Artist Genre">
      </label>
      <button type="submit">Add Artist</button>
    </form>
  <% } %>  
  <ul>
  <% artists.forEach(artist => { %>
    <li><%= artist.bandName %></li>
    <li><%= artist.genre %></li>
  <% }) %>
  </ul>
</section>


<%- include("../partials/footer") %> 