<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<section>
  <h1><%= artist.bandName %></h1>
  <p>
    <%= artist.bandName %> plays <%= artist.genre %> music!
  </p>
  <% if(user) { %>
    <h2>Add An Album</h2>
    <form action="/artists/<%= artist._id %>/albums" method="POST">
      <label for="">
        <input type="text" name="album" placeholder="Artist Album">
      </label>
      <button type="submit">Add Album</button>
    </form>
  <% } %>


    <% artist.album.forEach(album => { %>
      <h3>
        <%= artist.album.albumName %>
      </h3>
    <% }) %>

</section>

<%- include("../partials/footer") %>