<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<section>
  <h1><%= artist.bandName %></h1>
  <p>
    <%= artist.bandName %> plays <%= artist.genre %> music!
  </p>
  
  <form action="/artists/<%= artist.id %>?_method=DELETE" method="POST">
    <button>Delete Artist</button>
  </form>

  <% if(user) { %>
    <h2>Add An Album</h2>
    <form action="/artists/<%= artist._id %>/albums" method="POST">
      <label for="">
        <input type="text" name="albumName" placeholder="Artist Album">
      </label>
      <button type="submit">Add Album</button>
    </form>
  <% } %>


    <% artist.albums.forEach(album => { %>
      <h3>
        <a href="/artists/<%= artist._id %>/<%= album._id %>/songs"><%= album.albumName %></a>
      </h3>
    <% }) %>

</section>

<%- include("../partials/footer") %>