<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<main>
  <h1><%= artist.bandName %></h1>
  <p>
    <%= artist.bandName %> plays <%= artist.genre %> music!
  </p>

  <% if (artist.owner.equals(user?.profile._id)) { %>
    <form action="/artists/<%= artist._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this Artist</button>
    </form>
  <% } %>
  
  <% if (artist.owner.equals(user?.profile._id)) { %> 
  <form action="/artists/<%= artist.id %>?_method=DELETE" method="POST">
    <button>Delete Artist</button>
  </form>
  <% } %> 

  <% if(user) { %>
    <h2>Add An Album</h2>
    <form action="/artists/<%= artist._id %>/albums" method="POST">
      <label>
        <input type="text" name="albumName" placeholder="Artist Album">
      </label>
      <button type="submit">Add Album</button>
    </form>
  <% } %>


    <% artist.albums.forEach(album => { %>
      <h3>
        <a href="/artists/<%= artist._id %>/album/<%= album._id %>"><%= album.albumName %></a>
      </h3>
    <% }) %>

    </main>

<%- include("../partials/footer") %>