<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<section>
  <!-- <p>This is one of <%# profile.name %> 's favorite artists.</p> -->
  <h1><%= artist.bandName %></h1>
  <p>
    <%= artist.bandName %> plays <%= artist.genre %> music!
  </p>
</section>

<%- include("../partials/footer") %>